target-version = "py313"
line-length = 100

[lint]
preview = true
select = ["ALL"]
ignore = [
    "BLE001", # Do not catch blind exception: Exception
    "CPY001", # Missing copyright notice at top of file
    "D203", # Require blank line after class declaration before docstring
    "D212", # Start multiline docstring on same line as triple-quote
    "DOC201", # return is not documented in docstring
    "DOC402", # yield is not documented in docstring
    "DOC501", # Raised exception missing from docstring
    "DTZ", # datetime without timezone
    "E226", # Missing whitespace around arithmetic operator
    "EM101", # Exception must not use a string literal, assign to variable first
    "EM102", # Exception must not use an f-string literal, assign to variable first
    "I001", # Import block is un-sorted or un-formatted
    "INP001", # File is part of an implicit namespace package. Add an `__init__.py`.
    "N801", # Class name should be CapWords
    "PLR0904", # Too many public methods
    "PLR0913", # Too many arguments in function definition
    "PLR0914", # Too many local variables
    "PLR0915", # Too many statements
    "PLR0917", # Too many positional arguments
    "PT009", # Use assert instead of unittest.assertIn
    "PT027", # Use pytest.raises instead of assertRaises
    "RET505", # Unnecessary else after return statement
    "S311", # Standard pseudo-random generators are not suitable for cryptographic purposes
    "T201", # print() found
    "TC003", # Move standard library import into a type-checking block
    "TC006", # Add quotes to type expression in typing.cast()
    "TRY003", # No string arguments in custom exceptions
    "TRY300", # Move return to else block
    "TRY400", # logger.exception() instead of logger.error()
    "UP036", # Version block is outdated for minimum Python version
]

[lint.mccabe]
max-complexity = 10

[lint.pydocstyle]
convention = "google"
